<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--SERVLET-->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.primoprogetto.servlet.Servlet_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.primoprogetto.servlet.Servlet_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LandingPage</servlet-name>
        <servlet-class>com.primoprogetto.servlet.HTML_LandingPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvitationServlet</servlet-name>
        <servlet-class>com.primoprogetto.servlet.Servlet_Invitation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupServlet</servlet-name>
        <servlet-class>com.primoprogetto.servlet.Servlet_CreateGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneratePdfServlet</servlet-name>
        <servlet-class>com.primoprogetto.servlet.Servlet_GeneratePdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupsList</servlet-name>
        <servlet-class>com.primoprogetto.servlet.HTML_GroupsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>com.primoprogetto.servlet.Servlet_AddPost</servlet-class>
        <!--<init-param>
            <param-name>uploadDirectory</param-name>
            <param-value>/Users/Stefano/NetBeansProjects/studentscrowd/WEB1_StudentsCrowd/Web Pages/Resources/File</param-value>
        </init-param>-->
    </servlet>
    <servlet>
        <servlet-name>Group</servlet-name>
        <servlet-class>com.primoprogetto.servlet.HTML_Group</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Invitation</servlet-name>
        <servlet-class>com.primoprogetto.servlet.HTML_Invitation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroup</servlet-name>
        <servlet-class>com.primoprogetto.servlet.HTML_CreateGroup</servlet-class>
    </servlet>
    <!--SERVLET MAPPING -->
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvitationServlet</servlet-name>
        <url-pattern>/InvitationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroupServlet</servlet-name>
        <url-pattern>/CreateGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneratePdfServlet</servlet-name>
        <url-pattern>/GeneratePdfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/AddPostServlet</url-pattern>
    </servlet-mapping>
    <!--SERVLET MAPPING (ONLY HTML SERVLETS) -->
    <servlet-mapping>
        <servlet-name>LandingPage</servlet-name>
        <url-pattern>/LandingPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupsList</servlet-name>
        <url-pattern>/GroupsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Group</servlet-name>
        <url-pattern>/Group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invitation</servlet-name>
        <url-pattern>/Invitation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroup</servlet-name>
        <url-pattern>/CreateGroup</url-pattern>
    </servlet-mapping>
    <!--FILTERS-->
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>com.primoprogetto.filters.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/LandingPage</url-pattern>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/Logout</url-pattern>
        <url-pattern>/CreateGroup</url-pattern>
        <url-pattern>/CreateGroupServlet</url-pattern>
        <url-pattern>/Group</url-pattern>
        <url-pattern>/AddGroup</url-pattern>
        <url-pattern>/AddGroupServlet</url-pattern>
        <url-pattern>/Invitation</url-pattern>
        <url-pattern>/InvitationServlet</url-pattern>
        <url-pattern>/GeneratePdfServlet</url-pattern>
        <url-pattern>/GroupsList</url-pattern>
        <url-pattern>/AddPostServlet</url-pattern>
        <url-pattern>/build/web/Resources/File/</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>GroupFilter</filter-name>
        <filter-class>com.primoprogetto.filters.GroupFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GroupFilter</filter-name>
        <url-pattern>/Group</url-pattern>
        <url-pattern>/GeneratePdfServlet</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>PdfFilter</filter-name>
        <filter-class>com.primoprogetto.filters.PdfFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PdfFilter</filter-name>
        <url-pattern>/GeneratePdfServlet</url-pattern>
    </filter-mapping>
    <!--CONTEXT LISTENER-->
    <listener>
        <description>listener</description>
        <listener-class>com.primoprogetto.listeners.ContextListener</listener-class>
    </listener>
    <!--ERROR PAGE MAPPING-->
    <error-page>
        <error-code>404</error-code>
        <location>/errorpage.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorpage.html</location>
    </error-page> 
    <!-- DATABASE URL-->
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/PrimoProgetto</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
